body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 30px;
}

#images img{
	width: 170px;
	border-radius: 8px;
	margin: 5px;
	box-shadow: 3px 3px 0px #CCC;
}

.tag{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	display: block;
	width: 120px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	border-bottom: 1px solid #ccc;
	color: #615353;
}